main{
    .hero{
        // background-image: url(https://www.bmw.uz/content/dam/bmw/common/topics/fascination-bmw/bmw-m-individual/bmw-m-individual-relaunch-gallery-heritage-wallpaper-07.jpg.asset.1679903183082.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}